 body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;    
      background: #fff;
      align-items: center;  
  }
  

h1 {
  font-family: 'Rock Salt', cursive; color: #ddd;

}

 /* remove outline for input area of text in email & pw fields */
  input {
      outline: none;
      border: none;
  }
  
  

 /* "Sign up -- forgot pw" text */
  .forgot-pw {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
  }
  
  .sign-up {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
  }
  
  
  
  .wrap-login {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  
  }
  
  /* login-left panel*/ 
  .login-left {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
  .login-left::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
  }
  
/* form structure */
  
  .login-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    /* background-color: #f7f7f7; */
    padding: 173px 55px 55px 55px;
  }
  
  .login-title {
    width: 100%;
    display: block;
    font-family:'Handlee', cursive;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }
  
/* input fields for email & password */

  .wrap-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;
  }



  .glyphicon-shopping-cart {
    color: white;
  }

  .login,
.image {
  min-height: 70vh;
}

.bg-image {
  background-image: url("https://media.giphy.com/media/FDHDP7DREKSlYtHm43/giphy.gif"); 
  background-color: white;
  background-size: cover;
  background-position: center center;
}

/* cart */
.cart {
  position: absolute;
  min-height: 10rem;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}




/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



/* Set a style for the submit button */
.registerbtn {
  background-color: rgb(247, 156, 156);
font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


.img-responsive-1 {
  width: 350px;
  height: 200px;
}

.img-responsive-2 {
  width: 400px;
  height: 190px;
}


/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.w3-container {
  padding: 50px;
}
